#apr-menu{
    text-align: center;
}

#menu{
   background-color: #FFFFCC;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25%,1fr));
   align-items: start;
   justify-content: space-around;
   grid-gap:16px;
   margin: 10px;

}

#menu .col-3 {
    background-color: white; /* Cor de fundo do card */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efeito de elevação */
    padding: 16px; /* Espaçamento interno */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
    position: relative;
  margin: 10px;
    width: calc(25% - 20px); /* Define a largura de cada card para ser 25% do contêiner pai menos 20px */
    max-width: calc(25% - 20px); /* Impede que os cards se expandam além da largura definida */
  }
  
  #menu .col-3:hover {
    transform: translateY(-5px); /* Eleva o card quando o mouse passa por cima */
  }
  
  #menu .col-3 i.fa-heart {
    position: absolute; /* Posiciona absolutamente o ícone de coração */
    top: 10px; /* Ajusta a distância do topo do card */
    right: 10px; /* Ajusta a distância da direita do card */
    background-color: #e9a209; /* Cor de fundo do ícone */
    color: white; /* Cor do ícone */
    padding: 5px; /* Espaçamento interno do ícone */
    border-radius: 50%; /* Torna o ícone circular */
}
