body{
  background-color: #FFFFCC;
}

h1{
 font-size: 3em;
}

a {
    text-decoration: none;
  }
  ul {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
  }
  li {
    padding: 20px;
  }
  #btn-nav {
    background-color: rgb(250, 194, 9);
    color: black;
    border: solid 1px black;
    margin-right: 150px;
  }
  .nav-item.active {
    position: relative;
    color: #1d1d1d;
    text-decoration: none;
  }
  .nav-item.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 2px solid #ffe100; /* Ajuste a espessura conforme necessário */
  }
  #food{
    margin-left: 150px;
  }
  #cardapio-2 {
    background-color: rgb(250, 194, 9);
    color: #1d1d1d;
    border: solid 1px black;
    margin-right: 20px;
  }
  span {
    color: #ffe100;
  }
  #titulo{
    text-align:center;
    align-items: center;
    margin-top: 70px;
    margin-left:200px;
  }
  #descricao{
    margin-top: 60px;
    margin-left:200px;
  }
  #telefone{
    background-color: rgb(250, 194, 9);
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: solid 1px black;
    box-sizing: border-box;
  }
  #telefone{
    margin: 0px;
  }
  #cardapio-2,
  #telefone {
    margin-top: 40px;
    margin-right: 5px;
  }
  #btn-meio{
    margin-left: 75px;
  }

  #social i {
    margin: 0 0px; /* Adiciona margem aos lados de cada ícone social */
    margin-top: 20px;
    
  }
  #social{
    margin-right: 150px;
    color: #072f4e;
  }
  

  .d-flex.justify-content-center > * {
    margin: 0 10px; /* Adiciona margem aos lados de cada elemento filho */
  }
  
  .container {
    display: flex; /* Mantém o layout flexível */
    justify-content: space-between; /* Espaça os contêineres filho */
  }
  #img {
    flex: 1; /* Permite que o contêiner da imagem cresça */
    display: flex;
    justify-content: center; /* Alinha a imagem ao final */
    margin-right: 300px;
  }
  
  #fundo-img{
    background-color: #ffe8b4;
    margin-left: 300px;
    width: 50%;
    height: 100%;
    border-radius: 40% 30% 0% 20%;
  }